/* -----------------
        ROOT
------------------- */
*, ::before, ::after{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:aqua; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;}

html{
    font-size: 18px;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url(../img/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 100vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
p{
    line-height: 1.6;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.wrapper{
    padding: 1em;
}

/* ------------------
    Navbar Section
-------------------- */
.hero{
    position: relative;
}
.navbar-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    padding: 1em 0;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    transition: transform 250ms ;
    width: 100vw;
    transform: translateX(-1000px);
}
.menuBtn{
    background: transparent;
    border: none;
    margin: 1.2em 1em;
}
.closeBtn{
    background: transparent;
    border: none;
    font-size: 2.5rem;  
    margin-left: calc(85%);
    color: white;
}
.navbar-intro{
    margin: 0;
    padding: 0;
}
.karanPhoto{
    margin-top: 2em;
    width: 100px;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.175);
}
.navbar-intro-title{
    font-size: 2rem;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.75);
}
.nav-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
}
.nav-items{
    padding: 0.5em 0;
    border-bottom: 0.2px solid rgba(255,255,255, 0.2);
}
.nav-items:nth-of-type(4){
    border-bottom: none;
}
.social-list{
    display: flex;
    justify-content: center;
}
.social-items{
    font-size: 1.3rem;
    padding: 1em;
}
.nav-items:hover{
    background-color: rgba(255,255,255, 0.01);
    border-left: 5px solid rgba(255,255,255, 0.5);
    border-right: 5px solid rgba(255,255,255, 0.5);   
}
.social-items:hover{
    transform: translateY(-4px);
    transform: scale(1.1);
    transition: transform 250ms;
}



/* -----------------------------
        Intro Section
------------------------------ */
.main-section{
    border: 1px solid black;
    width: 100%;
}
.intro{
    padding: 0 2em;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-title{
    font-size: 3rem;
    font-family: 'Cabin Sketch', cursive;
    margin-bottom: 5px;
}
.intro-subtitle{
    border-top: 5px double white;
    padding-top: 1em;
    margin-top: 0;
    font-size: 1.5rem;
}
.btn{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.75em 2.25em;
    border: none;
    text-transform: uppercase;
}
.intro-btn{
    display: block;
    margin: 0;
    margin-left: 0;
    margin-right: auto;
}
.intro-btn:hover{
    border-left: 2px solid aqua;
    background-color: transparent;
}

/* ------------------------------
            Animation 
-------------------------------- */

/* ------------------
      FlipInX
-------------------- */
.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flipInX {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }
    @keyframes flipInX {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    } 
/* ---------Y---------- */
.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flipInY {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }
    @keyframes flipInY {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    } 



/*------------------------*/
/* ------------------
        Animation 
-------------------- */

.fadeInLeft {
    -webkit-animation-name: fad
    eInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
.fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
    .blast{
            display: inline-block;
            cursor: pointer;
            transition: all 250ms;
            -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes rubberBand {
            0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
            }
            40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
            }
            50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
            }
            65% {
            -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
            }
            75% {
            -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
            }
            100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }
            @keyframes rubberBand {
            0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
            }
            40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
            }
            50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
            }
            65% {
            -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
            }
            75% {
            -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
            }
            100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }  
    

/* ---------------------
        MEDIA QUERY
--------------------- */